<!DOCTYPE html>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <% include ./parts/head.ejs %>
  <body class="subpage">
    <% include ./parts/header.ejs %>

    <!-- Three -->
    <section id="three" class="wrapper">
      <div class="inner">
        <header class="align-center">
          <h2>
            Você não tem acesso a esta aplicação
            <span class="icon fa-ban"></span>
          </h2>
          <p>
            Caso esteja econtrando problema para acessar entre em contato pelo
            email <a href="mailto:lppetroski@uepg.br">lppetroski@uepg.br</a>
          </p>
        </header>
      </div>
    </section>

    <% include ./parts/footer.ejs %>
  </body>
</html>
