<!-- Footer -->
<footer id="footer">
    <div class="inner">
      <div class="mail">
        <h3>Algum problema?</h3>

        <p>
          Entre em contato pelo email
          <a href="mailto:lppetroski@uepg.br">lppetroski@uepg.br</a>
        </p>
      </div>
      <div class="copyright">
        &copy; Professor Petroski. Design:
        <a href="https://templated.co">TEMPLATED</a>. Images:
        <a href="https://unsplash.com">Unsplash</a>.
      </div>
    </div>
  </footer>